:root {
    background-color: papayawhip;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(54, 54, 54);
}


/* Header styling*/

header {
    margin: 20px;
}


/* Timer styling */

.clock,
#time-left {
    float: right;
    font-size: 15px;
    color: rgb(167, 121, 167)
}


/* High score link */

#view-highscore {
    float: left;
    font-size: 15px;
    color: rgb(167, 121, 167)
}


/* Main content of quiz */

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    margin-bottom: 6rem;
    font-size: 5rem;
    color: rgb(255, 149, 88);
    text-align: center;
}

.description {
    font-size: 2rem;
    color: rgb(167, 121, 167)
}

#start-btn {
    margin-top: 50px;
    margin-left: 230px;
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    align-items: center;
    border: 0.1rem solid rgb(84, 79, 148);
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(84, 79, 148);
    background-color: papayawhip;
}

#question-title {
    margin-bottom: 4rem;
    font-size: 4.2rem;
    color: rgb(255, 149, 88)
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

.container>* {
    width: 100%;
}


/* Buttons */

button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 0.1rem solid rgb(84, 79, 148);
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(84, 79, 148);
    background-color: papayawhip;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(42, 40, 75);
    transform: translate(-0.1rem);
}

button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid plum;
    background-color: whitesmoke;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 powderblue;
    transform: translate(-0.1rem);
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: aquamarine;
    color: white;
}

.choice-text {
    padding: 1.5rem
}

*/